# Secrets / local config
.env

# Airflow runtime
airflow/logs/*
!airflow/logs/.gitkeep
airflow/config/*
!airflow/config/.gitkeep
airflow/plugins/*
!airflow/plugins/.gitkeep

# Extract staging area
data/*
!data/.gitkeep

# dbt artifacts
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Python
__pycache__/
*.py[cod]
.venv/

# OS
.DS_Store
